<!doctype html>
<html lang="ja">
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS読込 -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

		<title>魚判別サービス</title>
  </head>
  <body>
		<div>
			<canvas id="cvs1" width="224" height="224"></canvas>
			<br/>
			<input type="file" id="myfile"><br>
				<button onclick="callPostMethod()">判定する</button>
				<br />
				<span id="result"></span>
		</div>

		<!-- JS読込 -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>